define host {
        use                             linux-server
        host_name                       {{ remote_host_name }}
        alias                           {{ alias }}
        address                         {{ remote_host_ip }}
        max_check_attempts              5
        check_period                    24x7
        notification_interval           30
        notification_period             24x7
}

define service {
        use                             generic-service
        host_name                       {{ remote_host_name }}
        service_description             PING
        check_command                   check_ping!100.0,20%!500.0,60%
}

define service {
        use                             generic-service
        host_name                       {{ remote_host_name }}
        service_description             SSH
        check_command                   check_ssh
        notifications_enabled           0
}